* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 49px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
    border: none;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.lv2 {
    font-size: 38px;
    line-height: 48px;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    position: sticky;
    top: -28px;
    background: #fffcf4;
    z-index: 1;
}

.body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav li a {
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    color: #5f5b53;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    position: absolute;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}
/* Hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.media-block .hero-summary {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 277px;
    position: absolute;
    right: -100px;
    bottom: 48px;
    padding: 24px;
}

.media-block .item + .item {
    margin: 18px 0;
}

.media-block .item {
    display: flex;
    align-items: center;
}

.media-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.media-block .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.media-block .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.media-block .info {
    margin-left: 18px;
}

.media-block .label {
    font-size: 1.4rem;
    color: #5f5b53;
    line-height: 1.86;
}

.media-block .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    margin-left: 230px;
}

.hero .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 22px;
}

.cta-group {
    display: flex;
    margin-top: 38px;
}

.cta-group .hero-cta {
    min-width: 180px;
    background: var(--primary-color);
    font-size: 1.8rem;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
}

.cta-group .watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 180px;
    background: #fffcf4;
    margin-left: 28px;
    cursor: pointer;
    color: transparent;
}

.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.69;
    color: #171100;
    margin-left: 14px;
}

.content-block .stats {
    margin-left: -28px;
    margin-top: 8px;
}

.cta-group {
    margin-bottom: 48px;
}

.content-block .stats strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin: 0 6px 0 28px;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .control {
    display: flex;
}

.popular .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background: transparent;
    margin: 0 9px;
}

.popular .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-item {
    flex: 1;    
    background: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover{
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
}

.course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    margin: -1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.course-item .value {
    font-size: 1.6rem;
    color: #fea31b;
}

.course-item .desc {
    margin: 6px 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .book-btn {
    font-size: 1.4rem;
    line-height: 50px;
}

.course-item .book-btn:hover {
    background: var(--primary-color);
    border-color: transparent;
    cursor: pointer;

}
